# 1) Introduction

In [1]:
#!pip install pyspark

In [2]:
import pyspark
import pandas as pd

In [3]:
pd.read_csv("test1.csv")

           Name  age  Experience  Salary
0        Younes   31          10   30000
1        Mourad   30           8   25000
2  Fatima Zahra   29           4   20000
3       M'hamed   24           3   20000
4         Fdila   21           1   15000
5         Hamid   23           2   18000

In [13]:
type(pd.read_csv("test1.csv"))

pandas.core.frame.DataFrame

In [4]:
# Starting a spark session

from pyspark.sql import SparkSession

In [5]:
# Giving my session a name
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [6]:
spark

In [7]:
# read a dataset in pyspark
df_pyspark = spark.read.csv("test1.csv")
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

`_c0`, `_c1`, `_c2`, and `_c3` represent (by default) the names of the 4 string-columns in the csv file

In [8]:
# To view the table
df_pyspark.show()

+------------+---+----------+------+
|         _c0|_c1|       _c2|   _c3|
+------------+---+----------+------+
|        Name|age|Experience|Salary|
|      Younes| 31|        10| 30000|
|      Mourad| 30|         8| 25000|
|Fatima Zahra| 29|         4| 20000|
|     M'hamed| 24|         3| 20000|
|       Fdila| 21|         1| 15000|
|       Hamid| 23|         2| 18000|
+------------+---+----------+------+

In [9]:
# To change the first row into column names
spark.read.option('header', 'true').csv("test1.csv")

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [10]:
spark.read.option('header', 'true').csv("test1.csv").show()

+------------+---+----------+------+
|        Name|age|Experience|Salary|
+------------+---+----------+------+
|      Younes| 31|        10| 30000|
|      Mourad| 30|         8| 25000|
|Fatima Zahra| 29|         4| 20000|
|     M'hamed| 24|         3| 20000|
|       Fdila| 21|         1| 15000|
|       Hamid| 23|         2| 18000|
+------------+---+----------+------+

In [11]:
df_pyspark = spark.read.option('header', 'true').csv("test1.csv")
df_pyspark

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [12]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [14]:
# First row
df_pyspark.head()

Row(Name='Younes', age='31', Experience='10', Salary='30000')

In [16]:
# 3 first rows
df_pyspark.head(3)

[Row(Name='Younes', age='31', Experience='10', Salary='30000'),
 Row(Name='Mourad', age='30', Experience='8', Salary='25000'),
 Row(Name='Fatima Zahra', age='29', Experience='4', Salary='20000')]

In [17]:
# for more info
df_pyspark.printSchema

In [27]:
# Creating a dataframe

df = spark.createDataFrame([
    (10, 80.5, "Alice", None),
    (5, None, "Bob", None),
    (None, None, "Tom", None),
    (None, None, None, True)],
    schema=["age", "height", "name", "bool"])

In [29]:
df = spark.createDataFrame(
    [
        ("sue", 32),
        ("li", 3),
        ("bob", 75),
        ("heo", 13),
    ],
    ["first_name", "age"],
)