In [2]:
from pyspark.sql import SparkSession

# creating a spark session
spark = SparkSession.builder.appName("Agg").getOrCreate()

In [3]:
spark

In [4]:
df_pyspark = spark.read.csv("test3.csv", header=True, inferSchema=True)
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [5]:
# look at the datatypes
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

# Groupby

In [7]:
# who's got the biggest salary  
df_pyspark.groupBy("Name").sum()

DataFrame[Name: string, sum(salary): bigint]

In [8]:
df_pyspark.groupBy("Name").sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [11]:
# which departement gives the best salaries
df_pyspark.groupby("Departments").sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [12]:
df_pyspark.groupby("Departments").mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [14]:
# How many workers in each department
df_pyspark.groupBy("Departments").count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [18]:
df_pyspark.agg({"Salary" : "sum"}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+